@model RentElectricCar.Client.ViewModels.CarsLocaViewModel


<div class="container">
    @foreach (var item in Model.Locationss)
    {
        <div class="pull-left col-md-4">

            <div>
                <div class="h5">@item.RegionName</div>
                
            </div>
        </div>
    }
</div> 